body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 20px;
    display: flex; /* Adiciona flexbox para centralizar */
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente se o body tiver altura suficiente */
    min-height: 100vh; /* Garante que o body ocupe a altura total da viewport */
}

h1, p {
    color: #333;
}

#gameCanvas {
    background-color: #333; /* Fundo mais escuro para contrastar com tiles claros */
    border: 2px solid #000000;
}